<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.codehaus.groovy.eclipse.groovyScriptLaunchConfiguration">
<stringAttribute key="org.codehaus.groovy.eclipse.launch.runType" value="groovy1001.test"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="D:\luna eclipse workspace\groovy1001\bin"/>
<listEntry value="D:\tools\eclipse\plugins\org.codehaus.groovy_2.5.0.xx-201801052226-e44-RELEASE\lib\groovy-all-2.5.0-indy.jar"/>
<listEntry value="D:\tools\eclipse\plugins\org.codehaus.groovy_2.5.0.xx-201801052226-e44-RELEASE\lib\ivy-2.4.0.jar"/>
<listEntry value="C:\Users\acer\.groovy\greclipse\global_dsld_support"/>
<listEntry value="D:\tools\eclipse\plugins\org.codehaus.groovy_2.5.0.xx-201801052226-e44-RELEASE\plugin_dsld_support\"/>
<listEntry value="D:\tools\eclipse\plugins\org.junit_4.11.0.v201303080030\junit.jar"/>
<listEntry value="D:\tools\eclipse\plugins\org.hamcrest.core_1.3.0.v201303031735.jar"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.codehaus.groovy.tools.GroovyStarter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--classpath &quot;${workspace_loc:\groovy1001}\src;${workspace_loc:\groovy1001}\bin&quot; --main groovy.ui.GroovyMain &quot;${resource_loc:/groovy1001/src/groovy1001/test.groovy}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="groovy1001"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" -Dgroovy.home=&quot;${groovy_home}&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:\groovy1001}"/>
</launchConfiguration>
